<%= stylesheet_packs_with_chunks_tag 'dashboard_vue' %>
<%= javascript_packs_with_chunks_tag 'dashboard_vue' %>

<% content_for :title do %>
  Dashboard
<% end %>

<div class="row">
  <div class="col-12">
    <div id='dashboard_app'></div>
  </div>
</div>