<% content_for :title do %>
    アカウント登録
<% end %>

<div class="row">
  <div class="col-12">
    <div class="card">
<%= render 'form', user: @user %>
    </div>
  </div>
</div>

<%= link_to 'Back', users_path %>
